$breakpoint-small: 600px;
$breakpoint-medium: 992px;
$breakpoint-large: 993px;

.content-wrapper {
  a{
    color: white;
  }
  .row, .section {
    margin: 0;
    padding: 0;
  }
  .intro {
    padding: 10% !important;
    .introHeading {
      line-height: 50px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      font-size: 2.2em;
    }
  }
  .home-section {
    padding: 5% !important;
    .sectionHeading {
      line-height: 30px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      font-size: 1.8em;
    }
  }
  .social-icons {
    padding: 4% !important;
    a {
      font-size: 1.3em;
      padding: 7%;
      color: white;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      &:hover {
        color: indianred;
        //border-left: indianred solid 1px;
      }
    }
  }
}

.img-container {

  img {
    width: 100%;
    -webkit-filter: grayscale(1);
    padding-left: 0.8%;
    padding-right: 0.8%;
    margin-bottom: 0;
    filter: grayscale(1);
    opacity: 1.0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    &:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      opacity: 0.5;
      -moz-transform: scale(1.01);
      -webkit-transform: scale(1.01);
      transform: scale(1.01);
    }
  }
}

figure {
  overflow: hidden;
  position: relative;

  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;

  figcaption {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    //text-transform: uppercase;
    font-weight: 200;
    position: absolute;

    top: 2%;
    right: 7%;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    @media only screen and (min-width: $breakpoint-medium) {
      font-size: 1.5em;
    }
  }

  &:hover {
    figcaption {
      right: 5%;
      opacity: 1;
    }
  }
}

.sideScrollSpy {
  position: fixed;
  top: 350px;
  right: 5% !important;
  a:hover {
    border-left: 1px solid darkgray;
  }
  .active {
    border-left: 2px solid black !important;
  }
}
