<div class="row">
    <div class="col s12 m10 l6 offset-m1 offset-l3 black content-wrapper z-depth-1">
        <div class="row white-text center-align">
            <div class="col s5">
                <!--<img src="./media/home-page-picture.jpeg" class="responsive-img">-->
            </div>
            <div id="introduction" class="col s12 section scrollspy intro">
                <div class="introHeading">
                    ANURAG CHOUDHARY
                </div>
                <div class="introHeading">
                    ~
                </div>

                <div class="sectionText">
                    <p>
                        Hi. I'm a recent undergraduate from the <a style="font-weight: 400" href="https://illinois.edu">University of Illinois at Urbana Champaign</a> majoring in Computer Science.
                        A full-stack web developer obsessed with minimal design, I love building web apps which focus on
                        visualizations and enjoyable user interactions.
                    </p>
                    <p>
                        I currently work at <a style="font-weight: 400" href="https://www.microsoft.com/#/">Microsoft</a>
                        in Redmond, WA as a
                        Software Engineer.
                    </p>
                    <p class="cd-intro">

                    <p class="cd-headline loading-bar">
                        <span>Apart from all of this, I</span>
                    <span class="cd-words-wrapper">
                        <b class="is-visible">compose and listen to a lot of music.</b>
                        <b>was part of a fusion American-Indian band.</b>
                        <b>was part of a theater group in college.</b>
                        <b>am an avid reader of fiction/thriller novels.</b>
                        <b>am a tech geek, up to date with the latest news.</b>
                        <b>blog occasionally about a variety of things.</b>
                        <b>love to teach, mentor, help, guide and inspire.</b>
                        <b>am usually a terrible dancer.<i> Usually. </i></b>
                    </span>
                </div>
            </div>

        </div>
        <div id="pictures" class="row img-container section scrollspy">
            <figure ng-repeat="image in images">
                <img ng-src="./media/tinified/{{image.file}}" ng-class-odd="'left-img'" ng-class-even="'right-img'"
                     class="responsive-img" alt="{{image.description}}">
                <figcaption>{{image.description}}</figcaption>
            </figure>
        </div>
        <div id="reach" class="section scrollspy white-text thin center-align">
            <div class="row">
                <div class="col s12 home-section">
                    <div class="sectionHeading">
                        Contact me.
                    </div>

                    <div class="sectionText">
                        <!--<p>-->
                            <!--The best way to reach me is by email.-->
                        <!--</p>-->
                        <p>
                            <span style="color:darkgray">(217) 979-5576</span><br>
                            <span>anurag.choudhary93 (at) gmail (dot) com</span>
                        </p>
                        <p>
                            Alongwith my Github, my internet presence is linked below.<br>
                            In case you're wondering, no, this isn't a live GPS tracker.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" style="overflow:hidden">
                <div id="map" style="height:30vh;
                                     width:99%;
                                     margin: auto;"></div>
            </div>
            <div class="row white-text thin center-align social-icons">
                <a href="https://www.linkedin.com/in/an5rag"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://github.com/an5rag"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/an5rag"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/c/anuragchoudhary"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            </div>
        </div>

    </div>

    <div class="col hide-on-med-and-down l2 sideScrollSpy">
        <ul class="section table-of-contents">
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#pictures">Pictures</a></li>
            <li><a href="#reach">Contact me</a></li>
        </ul>
    </div>
</div>
