<div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3 black content-wrapper">
        <div class="row white-text thin center-align">
            <div class="col s5">
                <!--<img src="./media/home-page-picture.jpeg" class="responsive-img">-->
            </div>
            <div id="introduction" class="col s12 section scrollspy intro">
                <div class="introHeading">
                    ANURAG CHOUDHARY
                </div>
                <div class="introHeading">
                    ~
                </div>

                <div class="introText">
                    <p>
                        Hi. I'm an undergraduate at UIUC majoring in Computer Science.
                        A full-stack web developer obsessed with minimal design, I love building web apps which focus on
                        visualizations and enjoyable user interactions.
                    </p>
                    <p>
                        I'm currently interning at <a style="font-weight: 400" href="https://www.nextcapital.com/#/">NextCapital</a>
                        in Chicago as a
                        Software Engineering Intern (UI).
                    </p>
                    <p class="cd-intro">

                    <p class="cd-headline loading-bar">
                    <span>Apart from all of this, I</span>
                    <span class="cd-words-wrapper">
                        <b class="is-visible">make and listen to a lot of music.</b>
                        <b>am part of a fusion American-Indian band.</b>
                        <b>am part of a theater group in college.</b>
                        <b>am an avid reader of fiction novels.</b>
                        <b>am a tech geek, up to date with the latest news.</b>
                        <b>blog occasionally about a variety of things.</b>
                        <b>love to teach and mentor students.</b>
                        <b>am <i> usually </i>a terrible dancer.</b>
                    </span>
                </div>
            </div>

        </div>
        <div id="pictures" class="row img-container section scrollspy">
            <figure ng-repeat="image in images">
                <img ng-src="./media/compressed/{{image.file}}" class="responsive-img">
                <figcaption>{{image.description}}</figcaption>
            </figure>
        </div>
        <div id="reach" class="section scrollspy white-text thin center-align">
            <div class="row">
                <div class="col s12 intro">
                    <div class="sectionHeading">
                        Reach me.
                    </div>

                    <div class="introText">
                        <p>
                            The best way to reach me is to email me at<br>
                            <span style="font-weight: 400">achdhry3 (at) illinois (dot) edu</span>
                        </p>
                        <p>
                            Alongwith my Github, my internet presence is linked below the map of my current residence.
                        </p>
                    </div>
                </div>
            </div>
            <div id="map" class="row" style="height:300px;width:99.9%">
            </div>
            <div class="row white-text thin center-align social-icons">
                <a href="https://www.linkedin.com/in/an5rag"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://github.com/an5rag"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/an5rag"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/c/anuragchoudhary"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            </div>
        </div>

    </div>

    <div class="col hide-on-med-and-down l2 sideScrollSpy">
        <ul class="section table-of-contents">
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#pictures">Pictures</a></li>
            <li><a href="#reach">Reach me</a></li>
        </ul>
    </div>
</div>