<div class="row content-wrapper">
    <div class="col s12 m8 l6 offset-m2 offset-l3 black">
        <div class="row white-text thin center-align">
            <h1>
                Anurag Choudhary
            </h1> Hello, this website is still under construction. It should be complete very soon.
        </div>
        <div class="row white-text thin center-align social-icons">
            <a href="https://www.linkedin.com/in/an5rag"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://github.com/an5rag"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/an5rag"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/c/anuragchoudhary"><i class="fa fa-youtube" aria-hidden="true"></i></a>

        </div>
    </div>
</div>